.bringFront {
    z-index: 900;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 98vw;
  height: 4vh;
  min-height: 35px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
}

.slider-content {
  position: absolute;
  white-space: nowrap;
  animation: slide linear infinite;
  color: white;
  font-size: x-large;
}

@keyframes slide {
  0% {
    transform: translateX(98vw);
  }
  100% {
    transform: translateX(-100%);
  }
}