input {
    width: 500px;
}

.left {
    text-align: left;
}

.middle {
    text-align: center;
}

.right {
    text-align: right;
}

.error {
    color: darkred;
    font-weight: bold;
    text-align: center;
}

.results {
    text-align: left;
    align-items: center;
}

.ag-format-container-schedule {
    width: 950px;
    margin: 0 auto;
    align-items: center;
    align-self: center;
}

.ag-courses_box {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: center;
-ms-flex-wrap: wrap;
flex-wrap: wrap;

padding: 5px 0;
}
.ag-courses_item {
-ms-flex-preferred-size: calc(33.33333% - 30px);
flex-basis: calc(33.33333% - 30px);

margin: 0 15px 10px;

overflow: hidden;

border-radius: 35px;
}
.ag-courses-item_link {
display: block;
padding: 20px 20px;
background-color: #121212;

overflow: hidden;

position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
text-decoration: none;
color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
-webkit-transform: scale(10);
-ms-transform: scale(10);
transform: scale(10);
}
.ag-courses-item_title {
min-height: 10px;
margin: 0 0 0px;
text-align: center;
overflow: hidden;

font-weight: bold;
font-size: 20px;
color: #FFF;

z-index: 2;
position: relative;
}
.ag-courses-item_date-box {
font-size: 18px;
color: #FFF;

z-index: 2;
position: relative;
}
.ag-courses-item_date {
font-weight: bold;
color: white;

-webkit-transition: color .5s ease;
-o-transition: color .5s ease;
transition: color .5s ease
}
.ag-courses-item_bg {
height: 500px;
width: 500px;
background-color: #3ecd5e;

z-index: 1;
position: absolute;
top: -75px;
right: -75px;

border-radius: 50%;

-webkit-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
}



@media only screen and (max-width: 979px) {
.ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
}
.ag-courses-item_title {
    font-size: 24px;
}
}

@media only screen and (max-width: 767px) {
.ag-format-container {
    width: 96%;
}

}
@media only screen and (max-width: 639px) {
.ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}
.ag-courses-item_title {
    min-height: 50px;
    line-height: 1;

    font-size: 24px;
}
.ag-courses-item_link {
    padding: 5px 5px;
}
.ag-courses-item_date-box {
    font-size: 16px;
}
}

.middle {
    width: 100%;
    text-align: center;
    input[type="radio"] {
      display: none;
      &:checked {
        + .box {
          background-color: green;
          border-radius: 50%;
          border-width: 0;
          margin-bottom: 0px;
          span {
            color: white;
            transform: translateY(-32px);
            &:before {
              transform: translateY(0px);
              opacity: 1;
            }
          }
        }
      }
    }
    .box {
      width: 75px;
      height: 75px;
      border-width: 0;
      background-color: rgba(255, 255, 255, 0);
      transition: all 250ms ease;
      will-change: transition;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      position: relative;
      font-family: font;
      font-weight: 900;
      &:active {
        transform: translateY(10px);
      }
      span {
        position: absolute;
        transform: translate(0, 0px);
        left: 0;
        right: 0;
        transition: all 300ms ease;
        font-size: 50px;
        user-select: none;
        color: darkgray;
        &:before {
          font-size: 1.2em;
          font-family: FontAwesome;
          display: block;
          transform: translateY(0px);
          opacity: 0;
          transition: all 300ms ease-in-out;
          font-weight: normal;
          color: white;
        }
      }
    }
    .front-end {
      span {
        &:before {
          content: "";
        }
      }
    }
    .back-end {
      span {
        &:before {
          content: "";
        }
      }
    }
  
    /* Made by */
    p {
      color: white;
      font-family: font;
      font-weight: 400;
      a {
        text-decoration: underline;
        font-weight: bold;
        color: #fff;
      }
      span {
        &:after {
          content: "\f0e7";
          font-family: FontAwesome;
          color: yellow;
        }
      }
    }
  }
  

.white {
  color: white;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid green; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader_position {
    margin-left:47%;
}

.fifty {
  width: 50vw;
}