body {
    font-family: 'Arial', sans-serif;
}

h1 {
    color: white;
}

p{
    text-align: left;
    white-space: pre-wrap;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

table {
    width: 100%;
}

tr {
    vertical-align: top;
}

li {
    margin-bottom: 10px;
}

.facilities {
    background-color: darkgray;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.info {
    background-color: darkgray;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
